/* Custom CSS */
body {
	color: #cccccc;
	background-color: #f6f6f6;
}


/* Header */
.header {
	background-color: #000000;
	height: 50px;
	z-index: 999;
	position: fixed;
	width: 100%;
	padding-right: 15px;
}

.title {
	float: left;
	width: 250px;
	height: 100%;
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	border-right: 1px solid #3d3d3d;
}

@media(max-width:992px){
	.title {
		display: none;
	}
}

.sidebartoggle {
	float: left;
	width: 50px;
	height: 100%;
	font-size: 22px;
	color: #818181;
	padding-top: 10px;
	text-align: center;
	border-right: 1px solid #3d3d3d;
}

.close-sidebar {
	width: 0px !important;
	margin-left: 0px !important;
}

.searchbox {
  	float: left;
	width: 150px;
	height: 100%;
	padding: 8px;
}

.menu {
	float: right;
	width: 150px;
	padding: 8px 15px 8px 8px;
}

.menu img {
	width: 35px;
}

.menu-dropdown {
	display: none;
	list-style: none;
	padding: 15px !important;
	margin-bottom: 0px;
	padding: 15px 10px 10px 10px;
	background-color: #111111;
	color: #818181;
    width: 150px;
    right: 0px !important;
    position: absolute;
    top: 50px;
}

.menu-dropdown li {
	padding: 5px 0px;
}

.open {
	display: block;
}











.leftpanel {
    height: 100%;
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    /* 0.5 second transition effect to slide in the sidenav */
}

@media(max-width:992px){
	.leftpanel {
		/*display: none;*/
	}
}


/* The navigation menu links */
.leftpanel a {
    padding: 8px 20px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    /*transition: 0.2s*/
}

.leftpanel a i {
    font-size: 10px;
    margin-top: 3px;
}
/* When you mouse over the navigation links, change their color */
.leftpanel a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.leftpanel .leftclosebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}